[Unit]
Description=Docker No volumes authZ Plugin
Documentation=man:docker-novolume-plugin(8)
After=network.target docker-novolume-plugin.socket
Requires=docker-novolume-plugin.socket

[Service]
# might need to set flags...
ExecStart=/usr/libexec/docker/docker-novolume-plugin

[Install]
WantedBy=multi-user.target
