[Unit]
Description=Docker novolume plugin Socket for the API
Documentation=man:docker-novolume-plugin(8)

[Socket]
ListenStream=/run/docker/plugins/docker-novolume-plugin.sock

[Install]
WantedBy=sockets.target
